# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/media/*
!/media/index.html

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------
/site/config/.license

# Config files
# ---------------
/site/config/config.php
/site/config/configdev.joeywilke.com.php



# Keeping it clean - https://www.git-tower.com/learn/build-your-own-blog/development/project-setup#start
# ---------------
# General
.DS_Store

# Sass
.sass-cache/

# Kirby
/assets/avatars
/thumbs/*
/site/cache/*